.loader {
  width: 44.8px;
  height: 44.8px;
  color: #ff0000;
  position: relative;
  background: radial-gradient(11.2px, currentColor 94%, #0000);
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top left,
              radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top right,
              radial-gradient(10.08px at top right   ,#0000 94%,currentColor) bottom left,
              radial-gradient(10.08px at top left    ,#0000 94%,currentColor) bottom right;
  background-size: 22.4px 22.4px;
  background-repeat: no-repeat;
  animation: loader 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes loader {
  33% { inset: -11.2px; transform: rotate(0deg); }
  66% { inset: -11.2px; transform: rotate(90deg); }
  100% { inset: 0; transform: rotate(90deg); }
}

.loader-container {
  position: fixed;
  background: #000;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: #fff;
  background-color: #0b0b0b;
  scroll-behavior: smooth;
}


.hero {
  position: relative;
  height: 85vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}


.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;     
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 0;
  object-fit: cover;
  opacity: 0.5;     
}


.hero-content {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  max-width: 700px;
}

.hero {
  position: relative;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}


.hero-video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;           
  height: 100%;          
  transform: translate(-50%, -50%);
  overflow: hidden;     
  border-radius: 20px;  
  z-index: 0;
}


.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;    
  opacity: 0.6;         
}


.hero-content {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  max-width: 700px;
}



header {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header img {
  width: 70px;
}

header h1 {
  color: #ff0000;
  font-size: 24px;
  margin-left: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff0000;
}


.hero {
  background: url('https://cdn.pixabay.com/photo/2017/01/06/19/15/car-1957037_1280.jpg') center/cover no-repeat;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  background-color: rgba(0,0,0,0.7);
  padding: 40px;
  border-radius: 10px;
  max-width: 700px;
}

.btn {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 25px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #cc0000;
}


.catalogo {
  padding: 50px 20px;
  text-align: center;
  background-color: black;
}

.catalogo h2 {
  margin-bottom: 40px;
  font-size: 2em;
  color: white;
}


.car-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;                             
  justify-items: center;
}

.car {
  background-color: #262424;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px; 
  text-align: center;
  transition: transform 0.3s;
}

.car img {
  width: 100%;
  height: 200px;
  object-fit: cover; 
}

.car h3 {
  margin: 15px 0 5px;
  font-size: 1.2em;
  color: white;
}

.car p {
  margin-bottom: 15px;
  color: #555;
  font-weight: bold;
}


.car:hover {
  transform: translateY(-5px);
}

.modelo3d {
  margin-top: 50px;
}


.nosotros {
  background-color: #111;
  color: white;
  padding: 60px 10%;
  text-align: center;
}

.nosotros h2 {
  font-size: 2em;
  margin-bottom: 40px;
  color: #ff0000;
}


.contenedor-nosotros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  text-align: left;
}


.texto-nosotros {
  flex: 1; 
}


.img-nosotros {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-nosotros img {
  width: 100%;
  height: auto;         
  max-width: 500px;     
  border-radius: 10px;
  object-fit: contain;  
}



@media (max-width: 900px) {
  .contenedor-nosotros {
    flex-direction: column;
    text-align: center;
  }

  .img-nosotros img {
    max-width: 90%;
    height: auto;
  }
}

.nosotros {
  background-color: #0f0f0f;
  padding: 60px 30px;
}

.texto-nosotros {
  max-width: 900px;
  margin: 0 auto;
}

.texto-nosotros h3 {
  color: #ff0000;
  margin-top: 20px;
}

.texto-nosotros ul {
  text-align: left;
  line-height: 1.8;
}


.contacto {
  background-color: #1a1a1a;
  color: white;
  padding: 60px 10%;
  text-align: center;
}

.contacto h2 {
  color: #ff0000;
  margin-bottom: 40px;
}

.contenedor-contacto {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  gap: 40px;
}


.formulario-contacto {
  flex: 1;
  background-color: #111;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario-contacto form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.formulario-contacto input,
.formulario-contacto textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  resize: none;
}

.formulario-contacto button {
  background-color: #ff0000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.formulario-contacto button:hover {
  background-color: #cc0000;
}


.mapa-contacto {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
}

.mapa-contacto iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .contenedor-contacto {
    flex-direction: column;
  }

  .mapa-contacto {
    height: 300px;
  }
}

input, textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #cc0000;
}


footer {
  background-color: #000;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
 
.card {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}

.card {
  margin: 0 auto; 
}


.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(226, 18, 21);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 30px;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}




.corporativo {
  background-color: #0d0d0d;
  padding: 60px 10%;
  color: white;
  text-align: center;
}

.corporativo h2 {
  color: #ff0000;
  font-size: 2.3em;
  margin-bottom: 40px;
}

.corp-resena, 
.corp-audio, 
.corp-publicaciones, 
.corp-encuesta, 
.corp-suscripcion {
  margin-bottom: 50px;
}

/* Videos */
.corp-videos .video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.video-item video {
  width: 100%;
  border-radius: 10px;
  border: 3px solid #ff0000;
}


.video-mazda {
  width: 80%;       /* Reduce el tamaño (puedes usar 70%, 60%, etc.) */
  display: block;
  margin: 0 auto;   /* Centrar el video */
  border-radius: 10px;
}

/* Galería */
.corp-galeria .galeria-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.corp-galeria img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
}

.corp-galeria img:hover {
  transform: scale(1.05);
}

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.galeria-grid .imagen-grande {
  grid-column: 1 / span 3;  /* La imagen ocupará todo el ancho de las 3 columnas */
  width: 60%;               /* Ajusta el tamaño como prefieras */
  margin: 0 auto;           /* Centra la imagen */
  display: block;
}


/* Publicaciones */
.publicacion {
  background-color: #161616;
  padding: 20px;
  margin: 15px auto;
  max-width: 800px;
  border-left: 4px solid #ff0000;
  text-align: left;
  border-radius: 5px;
}

/* Suscripción */
.corp-suscripcion input {
  padding: 12px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  width: 250px;
}

.corp-suscripcion button {
  padding: 12px 20px;
}

/* Responsive */
@media (max-width: 900px) {
  .corp-videos .video-grid {
    grid-template-columns: 1fr;
  }

  .corp-galeria .galeria-grid {
    grid-template-columns: 1fr 1fr;
  }

  .corp-suscripcion input {
    width: 100%;
    margin-bottom: 15px;
  }
}
